.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/css/app.css
/public/hot
/public/js/app.js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
